In [3]:
import pandas as pd
import numpy as np

In [4]:
# make sure slash is forward so it reads
df01 = pd.read_csv('data/JC-20161-citibike-tripdata.csv')
df01.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [6]:
df01.columns.values

array(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'User Type', 'Birth Year', 'Gender'], dtype=object)

In [8]:
df01.count()

Trip Duration              7479
Start Time                 7479
Stop Time                  7479
Start Station ID           7479
Start Station Name         7479
Start Station Latitude     7479
Start Station Longitude    7479
End Station ID             7479
End Station Name           7479
End Station Latitude       7479
End Station Longitude      7479
Bike ID                    7479
User Type                  7479
Birth Year                 7177
Gender                     7479
dtype: int64

In [9]:
# All CSV loaded in as data frames
df02 = pd.read_csv('data/JC-20162-citibike-tripdata.csv')
df03 = pd.read_csv('data/JC-20163-citibike-tripdata.csv')
df04 = pd.read_csv('data/JC-201604-citibike-tripdata.csv')
df05 = pd.read_csv('data/JC-201605-citibike-tripdata.csv')
df06 = pd.read_csv('data/JC-201606-citibike-tripdata.csv')
df07 = pd.read_csv('data/JC-201607-citibike-tripdata.csv')
df08 = pd.read_csv('data/JC-201608-citibike-tripdata.csv')
df09 = pd.read_csv('data/JC-201609-citibike-tripdata.csv')
df10 = pd.read_csv('data/JC-201610-citibike-tripdata.csv')
df11 = pd.read_csv('data/JC-201611-citibike-tripdata.csv')
df12 = pd.read_csv('data/JC-201612-citibike-tripdata.csv')
# df12.head()
df07.count()

Trip Duration              24436
Start Time                 24436
Stop Time                  24436
Start Station ID           24436
Start Station Name         24436
Start Station Latitude     24436
Start Station Longitude    24436
End Station ID             24436
End Station Name           24436
End Station Latitude       24436
End Station Longitude      24436
Bike ID                    24436
User Type                  24430
Birth Year                 22245
Gender                     24436
dtype: int64

In [14]:
# Merge based off Summer months(June, July, August)
#Combine the data into a single dataset
# summer_df = pd.merge(df06,df07, how="outer", on=["Trip Duration"])
# summer_df

In [15]:
# summer_df.count

In [ ]:
#Merge based off Winter months(December, January, February)