In [2]:
import pandas as pd
import numpy as np

In [3]:
# make sure slash is forward so it reads
df01 = pd.read_csv('data/JC-20161-citibike-tripdata.csv')
df01.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0

In [4]:
df01.columns.values

array(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID',
       'User Type', 'Birth Year', 'Gender'], dtype=object)

In [5]:
df01.count()

Trip Duration              7479
Start Time                 7479
Stop Time                  7479
Start Station ID           7479
Start Station Name         7479
Start Station Latitude     7479
Start Station Longitude    7479
End Station ID             7479
End Station Name           7479
End Station Latitude       7479
End Station Longitude      7479
Bike ID                    7479
User Type                  7479
Birth Year                 7177
Gender                     7479
dtype: int64

In [6]:
# All CSV loaded in as data frames
df02 = pd.read_csv('data/JC-20162-citibike-tripdata.csv')
df03 = pd.read_csv('data/JC-20163-citibike-tripdata.csv')
df04 = pd.read_csv('data/JC-201604-citibike-tripdata.csv')
df05 = pd.read_csv('data/JC-201605-citibike-tripdata.csv')
df06 = pd.read_csv('data/JC-201606-citibike-tripdata.csv')
df07 = pd.read_csv('data/JC-201607-citibike-tripdata.csv')
df08 = pd.read_csv('data/JC-201608-citibike-tripdata.csv')
df09 = pd.read_csv('data/JC-201609-citibike-tripdata.csv')
df10 = pd.read_csv('data/JC-201610-citibike-tripdata.csv')
df11 = pd.read_csv('data/JC-201611-citibike-tripdata.csv')
df12 = pd.read_csv('data/JC-201612-citibike-tripdata.csv')
# df12.head()
df07.count()

Trip Duration              24436
Start Time                 24436
Stop Time                  24436
Start Station ID           24436
Start Station Name         24436
Start Station Latitude     24436
Start Station Longitude    24436
End Station ID             24436
End Station Name           24436
End Station Latitude       24436
End Station Longitude      24436
Bike ID                    24436
User Type                  24430
Birth Year                 22245
Gender                     24436
dtype: int64

In [13]:
# Merge based off Summer months(June, July, August)
#Combine the data into a single dataset concat puts the data in order like a time line
summer_df = pd.concat([df06,df07,df08])
summer_df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,669,2016-06-01 00:00:37,2016-06-01 00:11:46,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,24486,Subscriber,1988.0,1
1,945,2016-06-01 00:14:54,2016-06-01 00:30:40,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24482,Subscriber,1981.0,2
2,334,2016-06-01 00:34:52,2016-06-01 00:40:26,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24391,Subscriber,1982.0,1
3,473,2016-06-01 00:40:30,2016-06-01 00:48:23,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,24626,Subscriber,1983.0,1
4,551,2016-06-01 00:50:06,2016-06-01 00:59:17,3220,5 Corners Library,40.734961,-74.059503,3197,North St,40.752559,-74.044725,24405,Subscriber,1987.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34144,421,2016-08-31 23:42:10,2016-08-31 23:49:12,3185,City Hall,40.717733,-74.043845,3192,Liberty Light Rail,40.711242,-74.055701,26238,Subscriber,1989.0,1
34145,295,2016-08-31 23:44:19,2016-08-31 23:49:14,3273,Manila & 1st,40.721651,-74.042884,3278,Monmouth and 6th,40.725685,-74.048790,26173,Subscriber,1980.0,2
34146,227,2016-08-31 23:50:04,2016-08-31 23:53:51,3220,5 Corners Library,40.734961,-74.059503,3195,Sip Ave,40.730743,-74.063784,24638,Subscriber,1987.0,1
34147,312,2016-08-31 23:56:29,2016-09-01 00:01:42,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,24638,Subscriber,1988.0,1
34148,229,2016-08-31 23:59:41,2016-09-01 00:03:31,3276,Marin Light Rail,40.714584,-74.042817,3214,Essex Light Rail,40.712774,-74.036486,26163,Subscriber,1958.0,1

In [17]:
# Convert the df to a csv to use for tableau
#     df.to_csv('raw_data.csv', index=False)
#     df.to_excel('raw_data.xls', index=False)
summer_df.to_csv('summer.csv', index=False)

In [16]:
#Merge based off Winter months(December, January, February)
#Combine the data into a single dataset concat puts the data in order like a time line
winter_df = pd.concat([df12,df01,df02])
winter_df

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,204,2016-12-01 00:33:31,2016-12-01 00:36:55,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24377,Subscriber,1989.0,1
1,606,2016-12-01 00:56:09,2016-12-01 01:06:16,3194,McGinley Square,40.725340,-74.067622,3189,West Side Light Rail,40.714402,-74.088772,26273,Subscriber,1962.0,1
2,185,2016-12-01 01:14:22,2016-12-01 01:17:27,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,24555,Subscriber,1977.0,1
3,504,2016-12-01 01:29:52,2016-12-01 01:38:17,3194,McGinley Square,40.725340,-74.067622,3191,Union St,40.718211,-74.083639,26186,Subscriber,1954.0,1
4,672,2016-12-01 01:47:14,2016-12-01 01:58:27,3186,Grove St PATH,40.719586,-74.043117,3190,Garfield Ave Station,40.710467,-74.070039,26170,Subscriber,1988.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8245,668,2016-02-29 23:02:18,2016-02-29 23:13:26,3183,Exchange Place,40.716247,-74.033459,3190,Garfield Ave Station,40.710467,-74.070039,24630,Subscriber,1988.0,1
8246,200,2016-02-29 23:02:27,2016-02-29 23:05:47,3213,Van Vorst Park,40.718489,-74.047727,3209,Brunswick St,40.724176,-74.050656,23210,Subscriber,1986.0,1
8247,1137,2016-02-29 23:16:14,2016-02-29 23:35:12,3206,Hilltop,40.731169,-74.057574,3189,West Side Light Rail,40.714402,-74.088772,24660,Subscriber,1973.0,1
8248,943,2016-02-29 23:34:49,2016-02-29 23:50:33,3187,Warren St,40.721124,-74.038051,3202,Newport PATH,40.727224,-74.033759,24462,Subscriber,1980.0,1
8249,1955,2016-02-29 23:45:25,2016-03-01 00:18:01,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,24397,Subscriber,1975.0,1

In [18]:
# Convert the df to a csv to use for tableau
#     df.to_csv('raw_data.csv', index=False)
#     df.to_excel('raw_data.xls', index=False)
winter_df.to_csv('winter.csv', index=False)